@using Microsoft.AspNetCore.Identity
@using Microsoft.CodeAnalysis.Differencing
@model IEnumerable<EventsUs.Models.Event>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}
<img src="https://image.ibb.co/k3keCz/log.png">

<h2>Index</h2>
@if ((User.IsInRole("Admin") || User.IsInRole("CalendarUser")))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="col-6 text-left">
    <a asp-controller="Events" asp-action="Graph" class="btn btn-info">Event Data</a>

</div>


@using (Html.BeginForm())
{
    <select name="jBy">
        <option value="">No Join</option>
        <option value="Admin">Creator Event</option>
        <option value="Place">Creator Country & Event Location</option>

    </select>

    <input type="submit" value="Join By" />
    <select name="gBy">
        <option value="">No Group</option>
        <option value="Location">Location</option>
    </select>
    <input type="submit" value="Group By" />
    <p>
        Find by Event Name: @Html.TextBox("SearchString1")
        Location: @Html.TextBox("SearchString2")
        Description: @Html.TextBox("SearchString3")
        <input type="submit" value="Search" />
    </p>


}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            if (item.EventAdminId == @UserManager.GetUserName(User) || item.PublicPrivate == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>

                    @if (Html.Value("gBy") != "Location" && Html.Value("jBy") != "Admin" && Html.Value("jBy") != "Place")
                    {
                        <td>
                            @if (item.EventAdminId == UserManager.GetUserName(User) || User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit </a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>

                    }
                </tr>
            }
        }
    </tbody>
</table>
