@model IEnumerable<EventsUs.Models.ApplicationUser>
@{
    ViewData["Title"] = "Index";
}
<style type="text/css">.border { }

 .table-info { }

 .col-6 { }
</style>
<center>
    <div Class="row ">
        <div class="col-6">
            <h2 class="text-info"> Admin Users List</h2>
        </div>
        <br />
        <div class="col-6 text-left">
            <a asp-area="Admin" asp-controller="AdminUsers" asp-action="Graph" class="btn btn-info">Admin Data</a>

        </div>
        <br />
    </div>

    <div>
        <table class="table table-striped border">
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(m => m.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.PhoneNumber)
                </th>
                <th>
                    status
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.PhoneNumber)
                    </td>
                    <td>
                        @if (item.LockoutEnd != null && item.LockoutEnd > DateTime.Now)
                        {
                            <label>Disabled</label>
                        }
                        else
                        {
                            <label>Not Disabled</label>
                        }
                    </td>
                    <td>
                        @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                        {
                            <a type="button" class="btn btn-primary" href="@Url.Action("Edit/"+ item.Id)">
                                Update
                            </a>
                            <a type="button" class="btn btn-danger" href="@Url.Action("Delete/"+item.Id)">
                                Delete
                            </a>

                        }
                    </td>

                </tr>
            }
        </table>

    </div>

</center>
