
@model IEnumerable<EventsUs.Models.ApplicationUser>
@{
    ViewData["Title"] = "Index";
}
<style type="text/css">
    .border {
    }

    .table-info {
    }

    .col-6 {
    }
</style>

<bar /><bar />


<div Class="row ">
    <div class="col-6">
        <h2 class="text-info"> Friends List</h2>
    </div>
    <div class="col-6 text-right">
    </div>
</div>

@using (Html.BeginForm())
{
    <p>
        Find by Id: @Html.TextBox("SearchString1")
        Age: @Html.TextBox("SearchString2")
        Country: @Html.TextBox("SearchString3")
        <input type="submit" value="Search" />
    </p>
}

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
        </tr>
        <th>
            @Html.DisplayNameFor(m => m.Email)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.PhoneNumber)
        </th>
        <th>
            Disabled
        </th>
        <th> </th>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => item.PhoneNumber)
                </td>
                <td>
                    @if (item.LockoutEnd != null && item.LockoutEnd > DateTime.Now)
                    {
                        <label>Disabled</label>
                    }
                </td>


            </tr>
        }
    </table>

</div>


