
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Find by Id: @Html.TextBox("SearchString1")
        User Name: @Html.TextBox("SearchString2")
        Age: @Html.TextBox("SearchString3")
        <input type="submit" value="Search" />
    </p>
}
@{ 
    List<Microsoft.AspNetCore.Identity.IdentityUser> identityUsers = ViewBag.Users;
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => identityUsers.GetEnumerator().Current.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => identityUsers.GetEnumerator().Current.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => identityUsers.GetEnumerator().Current.Email)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => identityUsers.GetEnumerator().Current.age)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in identityUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
